[submodule "2nd-Semester/data_structures_uom_2022"]
	path = 2nd-Semester/Data_Structures/data_structures_uom_2022
	url = https://github.com/mar-fol/data_structures_uom_2022
[submodule "2nd-Semester/Databases_2022"]
	path = 2nd-Semester/Databases/Databases_2022
	url = https://github.com/mar-fol/Databases_2022
