[submodule "2nd-Semester/data_structures_uom_2022"]
	path = 2nd-Semester/Data_Structures/data_structures_uom_2022
	url = https://github.com/mar-fol/data_structures_uom_2022
[submodule "1st-Semester/Algorithms/example-optimization-algorithm-for-best-time-arrival"]
	path = 1st-Semester/Algorithms/1.BestTime2Party_[arrival_optimization_algorithm]
	url = https://github.com/mar-fol/example-optimization-algorithm-for-best-time-arrival
[submodule "1st-Semester/Algorithms/node-incidence-matrix"]
	path = 1st-Semester/Algorithms/2.SocialFriends_[node-incidence-matrix]
	url = https://github.com/mar-fol/node-incidence-matrix
[submodule "3rd-Semester/Object-Oriented-Programming/SurvNet_Java"]
	path = 3rd-Semester/Object-Oriented-Programming/SurveillanceNet[AllComplete]
	url = https://github.com/mar-fol/SurvNet_Java
[submodule "2nd-Semester/Data_Structures_2022"]
	path = 2nd-Semester/Data_Structures
	url = https://github.com/mar-fol/Data_Structures_2022
[submodule "2nd-Semester/Databases_2022"]
	path = 2nd-Semester/Databases
	url = https://github.com/mar-fol/Databases_2022
[submodule "3rd-Semester/imunes-VLSM-subnetting"]
	path = 3rd-Semester/Computer-Networks[IMUNES-subnetting]
	url = https://github.com/mar-fol/imunes-VLSM-subnetting
